*{
    margin: 0;
    padding: 0;
  
}
.buttonNumber{
    width: 50;
    height: 50;
    font-size: 25;
    margin: 2;
    cursor: pointer;
    background: #0e4150;
    color:white;

}
.button{
    width: 50;
    height: 50;
    font-size: 25;
    margin: 2;
    cursor: pointer;
    background: #ff9100;
    color:white;

}
.buttonClear{
    width: 50;
    height: 50;
    font-size: 25;
    margin: 2;
    cursor: pointer;
    background: #ff0062;
    color:white;

}
.buttonEqual{
    width: 50;
    height: 50;
    font-size: 25;
    margin: 2;
    cursor: pointer;
    background: #800064;
    color:white;

}
.textview{
    width: 272;
    margin: 5;
    font-size: 25;
    padding: 5;
    border:none;
    background: #fdfdfd3b;
    color: #fafafa;
    
    
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translateX(-50%)translateY(-50%);
    background-color: rgb(0, 0, 0);
}
.bg{
    background: linear-gradient(to right);
}